    /*<!-- Bootstrap and CSS here-->*/
      .center {
        text-align: center;
      }
      #headers {
        color: #eefaff;
      }
      body {
        background-image: url(http://www.walldevil.com/wallpapers/w01/419381-abstract-blue-matrix-numbers-symbols.jpg);
        
      }
      #app {
        background-color: rgba(10, 9, 9, 0.3);
      }
      #subtitle {
        margin-top: 6%;
        
      }
      #input-parent {
        position:relative;
        margin-top: 2%;
        margin-bottom: 3%;
      }
      #player-input {
        border-radius: 80px;
        height: 160px;
        width: 160px;
        font-size:40px;
      }
      
      #submit {
        border-radius: 80px;
        height: 60px;
        width: 60px;
        margin:20px;
        position:absolute;
        top:50%;
        right:35%;
      }
      ul {
          list-style: none;
          padding: 0;
      }
      .guess {
        display:inline;
        border: solid 1px;
        border-radius: 8px;
        font-size:60px;
        margin: 5px;
        padding: 0px 20px;
        background-color:white;
        opacity: .9;
      }
      #menu-btns {
          margin:30px;

      }
      img {
          display: inline;
          width: 200px;
          height: 100px;
      }
      #footer {
          width: 100%;
          border-top: solid 2px black;
          background-color: rgba(255, 255, 255, 0.98);
          
          position: fixed;
          bottom: 0;

      }